.user-post-list {
    margin: 20px;
    .ant-btn-primary {
        float: left;
    }
    .ant-list-item-meta-content {
        text-align: left;
        font-size: 18px;
    }
    .user-post-header {
        font-weight: 600;
        font-size: 28px;
    }
}